@model StorePlatform.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="container right-panel-active">
    <!-- Login form -->
    <div class="container__form container--signin">
        <form asp-action="Login" method="post" class="form" id="form2">
            <h2 class="form__title">Login</h2>
            <input type="email" asp-for="Email" placeholder="Email" class="input" />
            <input type="password" asp-for="Password" placeholder="Password" class="input" />
            
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
    <!-- register button -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <a asp-action="Register"><button class="btn" id="signIn">Register</button></a>
            </div>
        </div>
    </div>
</div>