@model StorePlatform.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLogin";
}

<div class="container right-panel-active">
    <!-- Register form -->
    <div class="container__form container--signup">
        <form asp-action="Register" method="post" class="form" id="form1">
            <h2 class="form__title">Register</h2>
            <input type="text" asp-for="Username" placeholder="User" class="input" />
            <input type="email" asp-for="Email" placeholder="Email" class="input" />
            <input type="password" asp-for="Password" placeholder="Password" class="input" />
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
    <!-- Login button -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <a asp-action="Login"><button class="btn" id="signIn">Login</button></a>
            </div>
        </div>
    </div>
</div>