@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="~/css/tasarım.css" asp-append-version="true" />

    <!Fontawesome ikon>
    <script src="https://kit.fontawesome.com/8035110a5b.js" crossorigin="anonymous"></script>
    <!nunito font linkleri>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
</head>

<body>

    <section id="menü">
        <div id="logo">
            <b><img src="~/images/Ana_İkon.png" width="60px" height="60px"></b>
            <b>Mahmut ALSAMOUR-220509601</b>
        </div>
    
    </section>

    <section id="anasayfa">
        <div id="black"></div>
        <div id="içerik">

            <h2><b>Adli Bilişim Mühendisliği</b></h2>
            <hr width=300 align=left></hr>
            <p>Dijital çağın gelişimiyle birlikte, siber güvenlik artık modern toplumun en kritik meselelerinden biri haline geldi. Bilgi ve iletişim teknolojilerinin hızla ilerlemesi, insanlığın sınırlarını genişletirken, aynı zamanda dijital dünyada yeni tehlikelerin ortaya çıkmasına neden oldu. </p>
            <p>Siber güvenlik, bu gizemli dijital dünyanın karanlık köşelerinde gelişen bir savunma sanatı olarak kabul edilebilir. Bilgisayar korsanları, siber casuslar ve diğer kötü niyetli aktörler, dijital altyapıları hedef alarak kaosa neden olabilirken, siber güvenlik uzmanları ise bu tehditlere karşı savaşıyorlar.</p>
            <p>Bu savaş, gizemli bir maceranın içinde geçiyor gibi. Siber güvenlik uzmanları, her gün yeni bir bilinmeyenle karşı karşıya kalıyorlar. Bilgisayar korsanlarının karmaşık kodları, kötü amaçlı yazılımların zehirli tuzakları ve siber casusluğun perde arkasındaki oyunlar, siber güvenlik uzmanlarını sürekli olarak tetikte tutuyor.</p>
            <p>Ancak bu savaş sadece karanlıkla değil, aynı zamanda aydınlıkla da ilgili. Siber güvenlik uzmanları, inovasyon ve yaratıcılıkla hareket ederek, her gün yeni savunma stratejileri ve teknolojileri geliştiriyorlar. Yapay zeka, makine öğrenimi ve blockchain gibi ileri teknolojiler, siber savunma sistemlerini güçlendiriyor ve dijital dünyayı daha güvenli hale getiriyor.</p>
            <p>Siber güvenlik, bir yandan bir bilim olarak incelenirken, diğer yandan bir sanat olarak da kabul edilebilir. Bu alanda çalışanlar, hem matematiksel prensipleri hem de yaratıcı düşünme becerilerini kullanarak, dijital dünyanın gizemli labirentlerinde yol alıyorlar.</p>
            <p>Sonuç olarak, siber güvenlik, modern çağın gizemli dünyasında bir ışık kaynağı olarak parlıyor. Bu alandaki uzmanlar, bilgi, beceri ve cesaretleriyle, dijital dünyayı daha güvenli ve daha aydınlık bir yer haline getirmek için çalışıyorlar.</p>
        </div>
    </section>

    <section id="menu2">
    </section>
</body>

</html>